*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  width: 100%;
  background-image: url(night.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: repeat;
 height: 100vh;
}